<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Jared Baker</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- syntax highlighting via highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/helios.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>

    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h2>Jared Baker</h2>

    <div class="social">
      <p>
        <a href="/">Home</a> |
        <a href="https://github.com/jar-b">Github</a> | 
        <a href="https://linkedin.com/in/jared-baker-3ab40176">LinkedIn</a>
      </p>
    </div>

    {{ .Body }}

  </body>
</html>
