<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Jared Baker</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h2>Jared Baker</h2>

    <div class="social">
      <p>
        <a href="/">Home</a> |
        <a href="/posts">Posts</a> |
        <a href="https://github.com/jar-b">Github</a> | 
        <a href="https://linkedin.com/in/jared-baker-3ab40176">LinkedIn</a>
      </p>
    </div>

    {{ .Body }}

  </body>
</html>
