/* General setup */

html {
    font-size: 15px;
    margin: 0;
    font-family: "Open Sans", sans-serif;

    /* Match highlight.js dark theme */
    /* https://github.com/highlightjs/highlight.js/blob/11.11.1/src/styles/dark.css */
    background-color: #303030;
    color: #ddd;
}

body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: #d88;
}

p,ul,ol {
    margin-bottom: 2rem;
}
