/* General setup */

html {
    font-size: 10px;
    margin: 0;
    font-family: 'Raleway', sans-serif;

    /* Match highlight.js dark theme */
    /* https://github.com/highlightjs/highlight.js/blob/11.11.1/src/styles/dark.css */
    background-color: #303030;
    color: #ddd;
}

body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

img[alt="profile"] {
    width: 30%;
    border-radius: 15%;
}

.social {
    padding: 0 0 2rem 0;
}

.post-title {
    font-size: 2rem;
}

/* Typography */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3,
h4,
h5 {
    font-size: 2rem;
}

a {
    color: #d88;
}

p,
code,
ul,
ol,
li {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
}
